/* bootcards 1.1.0 2015-01-14 1:40 */
/* NAVBAR */

/* OFFCANVAS MENU */
.offcanvas, .offcanvas-list {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  overflow-y: auto;
  z-index:1050;
  height: 100%;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;	
}

.offcanvas-left { 
  left: -200px;
}
 .offcanvas-left.active {
  -webkit-transform: translate3d(200px, 0px, 0px);
  -moz-transform: translate3d(200px, 0px, 0px);
  -o-transform: translate3d(200px, 0px, 0px);
  -ms-transform: translate3d(200px, 0px, 0px);
  transform: translate3d(200px, 0px, 0px);
}


/* OFFCANVAS LIST FOR TABLET PORTRAIT MODE */
.offcanvas-list {
  width: 350px;
  left: -350px;
}

 .offcanvas-list.active {
  -webkit-transform: translate3d(350px, 0px, 0px);
  -moz-transform: translate3d(350px, 0px, 0px);
  -o-transform: translate3d(350px, 0px, 0px);
  -ms-transform: translate3d(350px, 0px, 0px);
  transform: translate3d(350px, 0px, 0px);
}

.offcanvas-list-title {
	position:fixed;
	background: rgba(247,247,247,.98);
	height: 45px; 
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.offcanvaslist-toggle.active {
  -webkit-transform: translate3d(50px, 0px, 0px);
  -moz-transform: translate3d(50px, 0px, 0px);
  -o-transform: translate3d(50px, 0px, 0px);
  -ms-transform: translate3d(50px, 0px, 0px);
  transform: translate3d(50px, 0px, 0px);
}
.offcanvaslist-toggle {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;	
}

.push-right {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;  
}
.push-right.active-left {
  -webkit-transform: translate3d(200px, 0px, 0px);
  -moz-transform: translate3d(200px, 0px, 0px);
  -o-transform: translate3d(200px, 0px, 0px);
  -ms-transform: translate3d(200px, 0px, 0px);
  transform: translate3d(200px, 0px, 0px);
}
.push-right.active-right {
  -webkit-transform: translate3d(-200px, 0px, 0px);
  -moz-transform: translate3d(-200px, 0px, 0px);
  -o-transform: translate3d(-200px, 0px, 0px);
  -ms-transform: translate3d(-200px, 0px, 0px);
  transform: translate3d(-200px, 0px, 0px);
}


/* BUTTONS */

.btn i { margin-right: 5px; }

.btn.icon-only i { margin-right: 0; }


/* LISTS */

.list-group-item {
	margin-left: 15px;
	padding-left: 0;
}

a.list-group-item:hover,
a.list-group-item:active,
a.list-group-item.active, 
a.list-group-item.active:hover, 
a.list-group-item.active:focus {
	margin-left: 0;
	padding-left: 15px;
}

.list-group-item-text {
	line-height: 18px;
	margin-bottom: 5px;
	overflow: hidden;
}

.list-group-item-heading:last-child,
.list-group-item-text:last-child {
	margin-bottom: 0;
}	

.list-group-item .row div > .list-group-item-heading:last-child,
.list-group-item .row div > .list-group-item-text:last-child {
	margin-bottom: 5px;
}

.list-group-item .row div:last-child > .list-group-item-heading:last-child,
.list-group-item .row div:last-child > .list-group-item-text:last-child {
	margin-bottom: 0;
}

.list-group-item img {
	height: 40px;
	width: 40px;
}

.list-group-item i {
	opacity: 0.3;
	width: 40px;
	text-align: center;
}

.list-group-item img,
.list-group-item i {
	margin-right: 15px;
}

.panel > .list-group .list-group-item:last-child {
	border-bottom: 0;
}

/* List Images */

.bootcards-list-group-item-content {
	overflow: hidden;
}

/* Disclosure Indicators */

a.list-group-item:before {
	font-family: 'FontAwesome';
	content: '';
	position: absolute;
	right: 15px;
	top: 50%;
	font-size: 14px;
	line-height: 14px;
	margin-top: -7px;
	color: #ccc;
}

.list-group.bootcards-no-indicators a.list-group-item:before {
	display: none;
}


/* List - Subheadings */

.list-group-item.bootcards-list-subheading {
	margin-left: 0;
	padding-left: 15px;
	font-weight: 500;
	font-size: 14px;
	z-index: 6;
}

a.list-group-item.bootcards-list-subheading {
	padding-left: 40px;
}

a.list-group-item.bootcards-list-subheading:before {
	font-family: 'FontAwesome';
	content: '';
	position: absolute;
	left: 15px;
	top: 50%;
	font-size: 14px;
	line-height: 14px;
	margin-top: -7px;
	color: #ccc;
}

a.list-group-item.bootcards-list-subheading.collapsed:before {
	content: '';
}





/* List - AZ Picker */

.bootcards-az-picker {
	position: fixed;
	width: 25px;
	margin: 0 0 0 -26px;
	padding: 0;
	list-style: none;
	z-index: 9;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background: #ffffff;
	padding-bottom: 50px;
	padding-top:5px;
}

.bootcards-az-picker li {
	font-size: 11px;
	font-weight: 500;
	text-align: center;
	padding: 0;
	background: #ffffff;
	height: 3.846%; /* 100% / 26 */
}
.bootcards-az-picker li a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height:100%;
}

.bootcards-az-picker li a:hover {
	text-decoration: none;
} 

@media only screen and (min-device-width: 480px) 
				   and (max-device-width: 767px)
                   and (orientation: landscape)  {

    /*hide every other letter on smartphones/ landscape*/
	.bootcards-az-picker li:nth-child(even) {
		display:none;
	}
	.bootcards-az-picker li {
		height: 7.692%; /* 100% / 13 */
	}

}

/* List - Search Form */

.bootcards-list .form-group {
	position: relative;
	margin-bottom: 0;
}

@media (min-width:768px) {
	.bootcards-list .form-group {
		margin-bottom: 0;
	}	
}

.bootcards-list form input, .bootcards-list .search-form input {
	padding-left: 32px;
}

.bootcards-list form i.fa-search, .bootcards-list .search-form i.fa-search {
	position: absolute;
	left: 12px;
	top: 10px;
	color: #999;
	font-size: 14px;
}

.bootcards-list form .btn, .bootcards-list .search-form .btn {
	color: white;
}


/* FOOTER */

.bootcards-desktop-footer {
	display: none;
}


/* CARDS */

.panel-default .panel-heading { 
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}

.panel-body > *:last-child {
	margin-bottom: 0;
}

.panel-footer {
	overflow: hidden;
}

.panel-footer small,
.modal-footer small {
	color: #aaa;
	display: block;
	text-align: center;
	line-height: 22px; /* Line up vertically with .btn */
}

/* ML: panel-footer has a top border, but that's removed by Bootstrap if there's a list-group before it. We restore it here.*/
.list-group + .panel-footer {
  border-top-width: 1px;
}


/* FORM CARD */

.btn label {
	margin: 0;
	font-weight: inherit;
	cursor: pointer;
}

.bootcards-clearinput {
	position: absolute;
	right: 0;
	top: 11px;
	color: #ccc;
	display: block;
	font-size: 0;
}

.bootcards-clearinput i {
	line-height: 1;
	font-size: 18px;
}

.form-horizontal .form-group div div {
	padding: 0;
}



/* Toggle – based on Ratchet.css */

.bootcards-toggle {
  position: relative;
  display: block;
  width: 74px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 20px;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: background-color, border;
     -moz-transition-property: background-color, border;
          transition-property: background-color, border;
}
.bootcards-toggle .bootcards-toggle-handle {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 2;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 100px;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: -webkit-transform, border, width;
     -moz-transition-property:    -moz-transform, border, width;
          transition-property:         transform, border, width;
}
.bootcards-toggle:before {
  position: absolute;
  top: 3px;
  right: 11px;
  font-size: 13px;
  color: #999;
  text-transform: uppercase;
  content: "Off";
}
.bootcards-toggle.active {
  background-color: #5cb85c;
  border: 2px solid #5cb85c;
}
.bootcards-toggle.active .bootcards-toggle-handle {
  border-color: #5cb85c;
  -webkit-transform: translate3d(44px, 0, 0);
      -ms-transform: translate3d(44px, 0, 0);
          transform: translate3d(44px, 0, 0);
}
.bootcards-toggle.active:before {
  right: auto;
  left: 15px;
  color: #fff;
  content: "On";
}
.bootcards-toggle input[type="checkbox"] {
  display: none;
}


/* CALENDAR */

.bootcards-calendar {
	margin-top: -15px;
	background: white;
}

.bootcards-calendar .fc-header-left,
.bootcards-calendar .fc-header-right {
	padding: 15px;
}

.bootcards-calendar .fc-header-title h2 {
	margin: 0;
}

.bootcards-calendar .fc-content th:first-child,
.bootcards-calendar .fc-content td:first-child {
	border-left-width: 0;
}

.bootcards-calendar .fc-content th:last-child,
.bootcards-calendar .fc-content td:last-child {
	border-right-width: 0;
}

.bootcards-calendar .fc-header-title h2 {
	font-size: 14px;
	text-transform: uppercase;
	color: #8f8f94;
	font-weight: 400;
	margin: 0;
	padding: 8px 0;
	line-height: 20px;
}

.bootcards-calendar .fc-header-left,
.bootcards-calendar .fc-header-right {
	padding: 0 10px;
}

.bootcards-calendar .fc-button .fc-icon {
	margin: 0;
}

.bootcards-calendar .fc-header .fc-button {
	background: transparent;
	box-shadow: none;
	border-color: transparent;
	margin: 0;
	height: 44px;
	line-height: 40px;
	font-size: 16px;
	text-shadow: none;
	padding: 0;	
}

.bootcards-calendar .fc-header-left .fc-button {
	margin-right: 10px;
}

.bootcards-calendar .fc-header-right .fc-button {
	margin-left: 10px;
}

.bootcards-calendar .fc-icon-left-single-arrow:after,
.bootcards-calendar .fc-icon-right-single-arrow:after {
	font-family: 'FontAwesome';
	font-size: 18px;
	font-weight: normal;
}

.bootcards-calendar .fc-icon-left-single-arrow:after {
	content: '';
}

.bootcards-calendar .fc-icon-right-single-arrow:after {
	content: '';

}

.bootcards-calendar .fc-header .fc-button.fc-state-disabled {
	color: #AAA;
	opacity: 1;
}

.bootcards-calendar .fc-header .fc-button.fc-state-active {
	color: #AAA;
}

.bootcards-calendar .fc-day-header {
	font-weight: 400;
	font-size: 12px;
	border-left-color: transparent;
	padding: 5px 0;
	padding-right: 3px;
}

.bootcards-calendar .fc-event {
	background: #007aff;
	border-color: #007aff;
}

.bootcards-calendar .fc-today {
	background: #FFF2F2;
}



/* TABLE CARD */

.table > thead > tr > th:first-child, 
.table > tbody > tr > th:first-child, 
.table > tfoot > tr > th:first-child, 
.table > thead > tr > td:first-child, 
.table > tbody > tr > td:first-child, 
.table > tfoot > tr > td:first-child {
	padding-left: 15px;
}

.table > thead > tr > th:last-child, 
.table > tbody > tr > th:last-child, 
.table > tfoot > tr > th:last-child, 
.table > thead > tr > td:last-child, 
.table > tbody > tr > td:last-child, 
.table > tfoot > tr > td:last-child {
	padding-right: 15px;
}




/* FILE CARD */

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-n2q9vw');
	src:url('../fonts/icomoon.eot?#iefix-n2q9vw') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-n2q9vw') format('woff'),
		url('../fonts/icomoon.ttf?-n2q9vw') format('truetype'),
		url('../fonts/icomoon.svg?-n2q9vw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-file-pdf:before {
	content: "\e4e2";
}
.icon-file-word:before {
	content: "\e4e4";
}
.icon-file-excel:before {
	content: "\e4e5";
}
.icon-file-powerpoint:before {
	content: "\e4e7";
}
.icon-file:before {
	content: "\e08d";
}

.bootcards-file .list-group-item:first-child {
	position: relative;
	padding-left: 74px;
}

.bootcards-file .list-group-item:first-child i {
	font-size: 64px;
	width: 64px;
	position: absolute;
	left: 0;
	top: 10px;
}

.bootcards-file .list-group-item *:last-child {
	margin-bottom: 0;
}


/* CHART CARD */

.bootcards-chart .bootcards-chart-canvas {
	height: 200px;
}



/* SUMMARY CARD */

.bootcards-summary .panel-body {
	padding: 7px 25px;
}

.bootcards-summary .panel-body > .row > div {
	padding: 8px;
}

.bootcards-summary-item {
	background: #f5f5f5;
	display: block;
	border-radius: 4px;
	padding: 25px 10px;
	text-align: center;
	position: relative;
	height: 130px;
}

@media (max-width:400px) {
	.bootcards-summary-item {
		padding: 15px 5px;
	}	
}

.bootcards-summary-item:hover {
	text-decoration: none;
	background: #eee;
}

.bootcards-summary-item > i {
	color: #bbb;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}

.bootcards-summary-item h4 {
	margin: 0 auto;
}


.bootcards-summary-item .badge,
.bootcards-summary-item .label {
	position: absolute;
	top:10px;
	right: 10px;
}


/* RICH TEXT CARD */

.bootcards-richtext > .panel-body {
	padding: 25px;
	max-width: 640px;
	margin: 0 auto;
}

.bootcards-richtext > .panel-body > *:first-child {
	margin-top: 0;
}


/* ALERTS & DIALOGS */

@media (max-width: 767px) {
	.modal-dialog.modal-sm {
		margin: 15px;
	}
}

@media (min-width: 768px) {
	.modal-dialog.modal-sm {
		width: 400px;
	}	
}
html, 
body {
	height: 100%;
}

body {
	padding-top: 50px;
	overflow-x:hidden;
}

.wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}


small {
	font-size: 70%;
}





/* NAVBAR */

.navbar-header {
	display: block;
}

.navbar-nav {
	display: none;
}

.navbar-toggle {
	display: none;
}




/* GRID */

.container {
	width: auto;
	height: 100%;
	margin: 0;
}

.bootcards-wrapper,
body > .container > .row {
	height: 100%;
	padding-bottom: 50px;
}

body.bootcards-nofooter .bootcards-wrapper,
body.bootcards-nofooter > .container > .row {
	padding-bottom: 0;
}

.container .bootcards-cards,
.container .bootcards-list {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	height: 100%;	
}

@media (min-width:768px) {
	.container .bootcards-list {
		border-right: 1px solid rgba(0,0,0,0.2);
	}	
}

.container .bootcards-cards {
	padding-top: 15px;
}

@media (min-width:768px) {
	.bootcards-cards > div[class*='col-']:not(:first-child) {
		padding-left:8px;
	}	
	.bootcards-cards > div[class*='col-']:not(:last-child) {
		padding-right:8px;
	}		
}


/* MENU */

.navmenu {
	padding: 0;
	background-color: #f8f8f8;
	border-right: 1px solid #e7e7e7;
}

.navmenu li {
	font-size: 15px;
	line-height: 30px;
}

.navmenu li a {
	color: #777;	
}
.navmenu li.active>a, .navmenu li.active>a:hover {
	color: #555;
	background-color: #e7e7e7;
}
.navmenu li>a:hover {
	color: #333;
	background:transparent;
}

.navmenu i {
	width: 24px;
	text-align: center;
}

.navmenu .bootcards-parent:not(.collapsed) {
	color: #333;
}

.navmenu .bootcards-parent:not(.collapsed) .fa-chevron-circle-right {
	-webkit-transform:rotate(90deg);
}

/* Menu Children */

.navmenu li li {
	padding-left: 32px;
}

.navmenu li li li {
	padding-left: 32px;
}


/* LISTS */

.bootcards-list {
	padding: 0;
	background-color: #ffffff;
}

.bootcards-list .panel {
	margin-bottom: 0;
}

.list-group-item:first-child,
.list-group-item:last-child {
	border-radius: 0;
}

.bootcards-list .panel-footer {
	border-bottom: 1px solid #DDD;
}


/* List - Subheadings */

a.list-group-item.bootcards-list-subheading:hover {
	background: #f5f5f5;
}


/* List - Search Form */

.bootcards-list .panel-body {
	padding: 0;
}

.bootcards-list form, .bootcards-list .search-form {
	background: #BBB;
	padding: 8px;
}

.bootcards-list form .row, .bootcards-list .search-form .row {
	margin: 0;
}

.bootcards-list form .row > div:first-child, .bootcards-list .search-form .row > div:first-child {
	padding-right: 4px;
	padding-left: 0;
}

.bootcards-list form .row > div:last-child, .bootcards-list .search-form .row > div:last-child {
	padding-left: 4px;
	padding-right: 0;
}




/* CARDS */

.panel-footer {
	background: 0;
}


/* RICH TEXT CARD */

.bootcards-richtext .fa-search-plus,
.bootcards-richtext .fa-search-minus {
	font-size: 23px;
	line-height: 1;
}




/* FOOTER */

.bootcards-nofooter .navbar-fixed-bottom {
	display: none;
}

.navbar-fixed-bottom .container {
	padding: 0;
	margin: 0;
}

.navbar-fixed-bottom .btn-group {
	list-style: none;
	width: 100%;
	margin: 0 auto;
}

.navbar-fixed-bottom .btn,
.navbar-fixed-bottom .btn:hover,
.navbar-fixed-bottom .btn:active,
.navbar-fixed-bottom .btn:focus {
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	background: transparent;
	box-shadow: none;
	display: inline-block;
	opacity: 1;
}

.navbar-fixed-bottom .btn-group .btn {
	width: 25%;
}

@media (min-width:768px) {
	.navbar-fixed-bottom .btn-group .btn {
		width: 16.66666%;
	}
}

/*
 * change z-index of a backdrop in the bootcards container so the
 * header and footer stay on top
 */
.bootcards-container > .modal-backdrop {
	z-index: 9;
}

@import "bootcards-mobile-shared.css";

body {
	background-color: #efeff4;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top: 44px;
	color: black;
	background: #efeff4;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

a {
	color: #007aff;
}


html, body {
    height: 100%;
    /*overflow-y: scroll;*/
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

/*needed on iOS for the disabled rubberband*/
.col-sm-6 {
	min-height:100%; /* replaced height with min-height as it was causing problems on shorter screens */
}

/* OFFCANVAS LIST FOR TABLET PORTRAIT MODE */

.offcanvas-list-title {
	background: rgba(247,247,247,.98);
	height: 45px;
	text-align: center;
}


/* BUTTONS */

.btn,
.btn:hover,
.btn:active,
.btn:focus,
.btn-group.open .dropdown-toggle,
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open>.dropdown-toggle.btn-primary {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
	font-size: 15px;	
	color: #007aff;
	padding-left: 5px;
	padding-right: 5px;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	margin: 0;
	text-decoration: none;
}

.btn:hover,
.btn.active {
	opacity: 0.5;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
	color: #d43f3a;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
	color: #4cae4c;
}

.btn-xs,
.btn-xs:hover,
.btn-xs:active,
.btn-xs:focus {
	font-size: 10px;
	line-height: 20px;
}

.btn-link {
	border: 0;
}

.btn[disabled]
{
	background-color: transparent;
	border-color: transparent;
}


/* NAVBAR */

.navbar-fixed-top .container {
	padding: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.navbar-default {
	box-shadow: none;
	right: 0;
	left: 0;
	z-index: 10;
	height: 44px;
	min-height: 44px;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: 0;
	background-color: rgba(247,247,247,.98);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
	box-shadow: 0 0 1px rgba(0,0,0,.85);
}

.navbar-header {
	float: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
	padding: 0;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	color: #000;
	text-align: center;
	white-space: nowrap;
	height: 44px;
	/*width: 140px !important;*/
	/*margin: 0 auto !important;*/
	float: none !important;
}

.navbar > .container .navbar-brand {
	margin: 0;
}

.navbar-fixed-top .btn,
.navbar-fixed-top .btn:hover {
	font-size: 16px;
	position: absolute;
	left: 15px;
	z-index: 20;
	padding: 0;
	line-height: 44px;
	border: 0;
	font-weight: 400;
}

.navbar-fixed-top .btn.navbar-left {
	left: 15px;
}

.navbar-fixed-top .btn.pull-right i {
	display: none;	
}

.navbar-fixed-top .btn.navbar-right {
	left: auto;
	right: 15px;
}

/* iPhone Landscape */
@media (orientation:landscape) and (max-width:767px) {
	body {
		padding-top: 32px;
	}
	.navbar-default {
		height: 32px;
		min-height: 32px;
	}
	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover {
		line-height: 32px;
		height: 32px;
	}
	.navbar-fixed-top .btn,
	.navbar-fixed-top .btn:hover {
		line-height: 32px;
	}
}






/* SIDE MENU */

.offcanvas {
  margin-top:45px;
}




/* CARDS */

.panel {
	box-shadow: none;
	border-radius: 0;
	border: 0;
}

.bootcards-cards .panel {
	margin-bottom: 15px;
}

.panel-default > .panel-heading,
.panel-default .panel-heading {
	background: transparent;
	padding-top: 3px;
	padding-bottom: 3px;
}

.panel-title {
	font-size: 14px;
	text-transform: uppercase;
	color: #8f8f94;
	font-weight: 400;
	margin: 0;
	padding: 8px 0;
	line-height: 20px;
}

.panel-heading .btn,
.panel-heading .btn-group .btn {
	height: 29px;
	font-size: 15px;
	text-shadow: none;
	padding-right: 0;
	padding-left: 0;
	margin-left: 15px;
}



/* CALENDAR */

.bootcards-calendar .fc-header .fc-button {
	color: #007aff;
}



/* MODALS */

@media (max-width:767px) {
	.modal-dialog {
		min-height: 100%;
	}
	.modal-dialog {
		margin: 0;
	}
	.modal-content {
		height: 100%;
	}
}

.modal-content {
	box-shadow: none;
	border-radius: 0;
	border: 0;
	height: 100%;
}

.modal-header {
	height: 44px;
	min-height: 44px;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: 0;
	background-color: rgba(247,247,247,.98);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
	box-shadow: 0 0 1px rgba(0,0,0,.85);	
	padding: 0 10px;
	overflow: hidden;
}

.modal-header .btn {
	line-height: 32px;
	font-size: 16px;
	border: 0;
	z-index: 1;
}

.modal-title {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	display: block;
	padding: 0;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	color: #000;
	text-align: center;
	white-space: nowrap;
	z-index: 0;
}

.modal-body {
	padding: 15px;
}

.modal-footer {
	padding: 10px 15px;
	border-top: 1px solid #ddd;	
	margin-top: -1px;
}



/* LISTS */

.bootcards-list .list-group-item {
}

.list-group-item:first-child {
	border-top: 0;
}

.list-group {
	box-shadow: none;
}

.list-group-item {
	border-left: 0;
	border-right: 0;
	line-height: 24px;
}

.list-group-item label {
	color: #007aff;
	display: block;
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;	
}

.list-group-item .list-group-item-heading {
	font-size: 17px;
	font-weight: normal;
	display: block;
	color: black;
} 

a.list-group-item {
	font-size: 17px;
	font-weight: normal;
	color: black;
	line-height: 24px;
	padding-right: 25px;
}

a.list-group-item.active, 
a.list-group-item.active:hover, 
a.list-group-item.active:focus {
	background: #e5e5e5;
	border-color: #DDD;	
	text-shadow: none;
	color: black;
}

a.list-group-item:hover {
	background: white;
}

.list-group-item .list-group-item-text,
a.list-group-item.active .list-group-item-text, 
a.list-group-item.active:hover .list-group-item-text, 
a.list-group-item.active:focus .list-group-item-text {
	color: #999;
	font-size: 14px;
	font-weight: normal;	
} 

/* List - Search Form */

.bootcards-list form, .bootcards-list .search-form {
	margin-left: 0;
}

.bootcards-list form input, .bootcards-list .search-form input {
	border: 0;
}

.bootcards-list form i.fa-search, .bootcards-list .search-form i.fa-search {
	top: 10px;
}

@media (min-width:768px) {
	.bootcards-list form input, .bootcards-list .search-form input {
		height: 34px;
	}
	.bootcards-list form i.fa-search, .bootcards-list .search-form i.fa-search {
		top: 9px;
	}
	.bootcards-list form .btn, .bootcards-list .search-form .btn {	
		/*line-height: 28px;*/
	}
}



/* FORMS */

.form-horizontal .form-group {
	border-bottom: 1px solid #ddd;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.form-horizontal .form-group:first-of-type {
	margin-top: -15px;
}

.form-horizontal .form-group:last-child {
	margin-bottom: -15px;
}

.form-horizontal .control-label {
	color: #007aff;
	font-weight: normal;
	font-size: 13px;
	margin-top: 2px;
	white-space: nowrap;
	padding-right: 0;
	padding-top: 7px;
}

.form-horizontal .form-group div {
	padding: 0 3px;
}

.form-horizontal .form-group .control-label:first-child {
	padding-left: 0;
}

.form-horizontal .form-group div:last-child {
	padding-right: 0;
}

select, 
textarea,
input[type="text"], 
input[type="search"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="tel"], 
input[type="color"], 
.input-group,
.form-control {
	box-shadow: none;
	margin: 0;
	border-color: transparent;
	-webkit-appearance:none;
	color: black;
}

form .btn label {
	font-size: 14px;
	padding-left: 6px;
	font-weight: normal;
	text-align: left;
	display: block;
}

.bootcards-clearinput {
	top: 9px;
}



/* Toggle – based on Ratchet.css */

.bootcards-toggle {
  margin-top: 1px;
  float: right;
  width: 47px;
  border: 2px solid #e6e6e6;
  -webkit-box-shadow: inset 0 0 0 0 #e1e1e1;
          box-shadow: inset 0 0 0 0 #e1e1e1;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: box-shadow, border;
     -moz-transition-property: box-shadow, border;
          transition-property: box-shadow, border;
}
.bootcards-toggle .bootcards-toggle-handle {
  border: 1px solid rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .08);
          box-shadow: 0 3px 3px rgba(0, 0, 0, .08);
  -webkit-transition-property: -webkit-transform, border, width;
     -moz-transition-property:    -moz-transform, border, width;
          transition-property:         transform, border, width;
}
.bootcards-toggle:before {
  display: none;
}
.bootcards-toggle.active {
  background-color: transparent;
  border: 2px solid #4cd964;
  -webkit-box-shadow: inset 0 0 0 13px #4cd964;
          box-shadow: inset 0 0 0 13px #4cd964;
}
.bootcards-toggle.active .bootcards-toggle-handle {
  -webkit-transform: translate3d(17px, 0, 0);
      -ms-transform: translate3d(17px, 0, 0);
          transform: translate3d(17px, 0, 0);
}
.bootcards-toggle.active .bootcards-toggle-handle {
  border-color: #4cd964;
}





/* FOOTER */

.navbar-fixed-bottom {
	box-shadow: 0 -1px rgba(0,0,0,0.2);
	height: 50px;
	text-align: center;
	border: 0;
	background-color: #f9f9f9;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
	box-shadow: 0 0 1px rgba(0,0,0,.85);	
}


.navbar-fixed-bottom .btn-group {
	max-width: 320px;
	width: 320px;
	font-size: 0;
}

@media (min-width:401px) {
	.navbar-fixed-bottom .btn-group {
		display: block;
		width: auto;
		max-width: none;
	}
}

.navbar-fixed-bottom .btn-group .btn,
.navbar-fixed-bottom .btn-group .btn:hover,
.navbar-fixed-bottom .btn-group .btn:active,
.navbar-fixed-bottom .btn-group .btn:focus {
	float: none;
	height: 50px;
	text-align: center;	
	line-height: 1;
	font-size: 10px;
	font-weight: 400;
	padding-top: 7px;
}

.navbar-fixed-bottom .btn-group .btn i {
	display: block;
	margin: 0;
	margin-bottom: 2px;
	font-size: 24px;
}

.navbar-fixed-bottom .btn-group .btn-default {
	color: #929292;
}

.navbar-fixed-bottom .btn-group .btn-default:active,
.navbar-fixed-bottom .btn-group .btn-default:hover {
	color: #007aff;
}

/* Fixed buttons */

.navbar-fixed-bottom .btn.pull-left,
.navbar-fixed-bottom .btn.pull-left:hover,
.navbar-fixed-bottom .btn.pull-right,
.navbar-fixed-bottom .btn.pull-right:hover {
	font-size: 16px;
	position: relative;
	z-index: 20;
	padding: 0;
	line-height: 50px;
	border: 0;
	font-weight: 400;
}

/* iPhone Landscape */
@media (orientation:landscape) and (max-width:767px) {
	.navbar-fixed-bottom {
		height: 44px;
	}
	.navbar-fixed-bottom .btn-group .btn,
	.navbar-fixed-bottom .btn-group .btn:hover,
	.navbar-fixed-bottom .btn-group .btn:active,
	.navbar-fixed-bottom .btn-group .btn:focus {
		height: 44px;
		padding-top: 5px;
	}
	.navbar-fixed-bottom .btn.pull-left,
	.navbar-fixed-bottom .btn.pull-left:hover,
	.navbar-fixed-bottom .btn.pull-right,
	.navbar-fixed-bottom .btn.pull-right:hover {
		line-height: 44px;
	}
	.bootcards-wrapper, body > .container > .row {
		padding-bottom: 44px;
	}
	.bootcards-az-picker {
		padding-bottom: 44px;
	}
}
